	

		<!-- Main -->
			<div id="main">
			
				<!-- Home -->
					<section id="top" class="one">
						<div class="container">

							<a href="#" class="image featured"><img src="images/telescope.jpg" alt="" /></a>			
							
							<p style="font-size:18px;line-height:150%"; align="left"> Welcome to my personal website. I am a Post-Doctoral Researcher at the <a href="http://www.csh.unibe.ch/index_eng.html">Center for Space and Habitability<\a>, <a href="https://www.unibe.ch/index_eng.html">University of Bern<\a>, Switzerland. I obtained my interdisciplinary PhD at the <a href="http://www.astro.uva.nl/">API Institute for Astronomy</a>, <a href="http://www.uva.nl/en/home">University of Amsterdam</a> and the <a href="http://www.falw.vu.nl/en/">Department of Earth Sciences</a>, <a href="http://vu.nl/en/index.asp">Vrije University Amsterdam</a>. My current research interests are rocky exoplanetary interiors and geochemical cycles.</p>

							<!-- <footer>
								<a href="./KaustubhHakimCV2019Feb.pdf" class="button scrolly">View my Resume</a>
							</footer> -->

						</div>
					</section>
					
					<!-- Research -->
					<section id="portfolio" class="three">
						<div class="container">
					
							<header>
								<h2>Research</h2>
							</header>
							<a href="#" class="image featured"><img src="images/exoplanet-surface.jpg" alt="" /></a>
							<p style="font-size:18px;line-height:150%"; align="left">The extra-solar planets, or <b>exoplanets</b>, are the planets outside our solar system. There are more than 1000 billion exoplanets in our galaxy alone. Some of these exoplanets are like our Earth and it is not so strange to think that at least a few of them can harbour alien life! As a scientist, I am interested in investigating the chemical composition of the rocks and the atmospheres of these exoplanets.</p>
							
							
							<p style="font-size:18px;line-height:150%"; align="left">Previously, I have worked in the <a href="http://www.geo.vu.nl/~wvwest/lab.html">high-pressure laboratory</a> of Vrije University to study the minerals and their phases present in the interior of rocky exoplanets by performing high-pressure-temperature laboratory experiments. I have also performed computations to theoretically study the interior structure of rocky exoplanets and their mass-radius relations.</p>
							<table id="figures">
								<tbody>
									<tr>
									<td> <img align="center" src="images/experiment.jpg" alt="" />
									</td>
									<td> <img align="center" src="images/interior_model.jpg" alt="" />
									</td>
									</tr>
									<tr>
									<td style="font-size:16px;line-height:150%;" align="left">False-color electron microprobe image of an experimental run-product at the pressure of 2 GPa and the temperature of 1550 &deg;C. Yellow region is carbon-rich sulfur-poor iron and light-blue region is sulfur-rich carbon-poor iron.
									</td>
									<td style="font-size:16px;line-height:150%;" align="left">Density of material in the interior of exoplanet CoRoT-7b. Yellow region is the iron core and blue region is the silicate mantle of CoRoT-7b.
									</td>
									</tr>
								</tbody>
							</table>							
						</div>
					</section>
					
					<!-- About Me -->
					<section id="about" class="two">
						<div class="container">

							<header>
								<h2>About Me</h2>
							</header>

							<a href="#" class="image featured"><img src="images/amsterdam.jpg" alt="" /></a>
							
						<p style="font-size:18px;line-height:150%"; align="left">I currently live the wonderful city of <b>Bern<\b> in Switzerland. Previously, I obtained my master's degree in Astrophysics from <a href="http://www.kuleuven.be/english">KU Leuven</a>, Belgium and my bachelor's degree in Electronics Engineering from <a href="http://iitkgp.ac.in/">IIT Kharagpur</a>, India. I have also lived in another beautiful city, Mumbai, for a couple of years working for an investment bank, <a href="http://www.nomura.com/">Nomura</a>.</p>	
				

						</div>
					</section>

				
			
				<!-- Contact -->
					<section id="contact" class="four">
						<div class="container">

							<header>
								<h2>Contact</h2>
							</header> 
								<!-- <a href="#" class="image featured"><img src="images/notebook.jpg" alt="" /></a> -->
							<table id="social" style="margin: 0px auto; width: 300px;" >
								<tbody><tr align="center" >
								<td> <a href="mailto:hakim.kaustubh@gmail.com"> <img src="images/gmail.jpg"> </a></td>
								<td> <a href="https://twitter.com/hbutsuak"> <img src="images/twitter.jpg"> </a></td>
								<td> <a href="https://github.com/kaustubhhakim"> <img src="images/github.jpg"> </a></td>
								<td> <a href="https://in.linkedin.com/pub/kaustubh-hakim/46/936/669"> <img src="images/linkedin.jpg"> </a></td>
								</tr></tbody>
							</table>	
							<!--  <p>You can reach me at <br />
							
				<a href="mailto:hakim.kaustubh@gmail.com">Gmail</a><br />
				<a href="https://twitter.com/hbutsuak"> Twitter</a> <br />
				<a href="https://github.com/kaustubhhakim">Github</a> <br />
				<a href="https://in.linkedin.com/pub/kaustubh-hakim/46/936/669">Linkedin</a> <br /> 
							</p> -->
							<!--
							<form method="post" action="#">
								<div class="row half">
									<div class="6u"><input type="text" class="text" name="name" placeholder="Name" /></div>
									<div class="6u"><input type="text" class="text" name="email" placeholder="Email" /></div>
								</div>
								<div class="row half">
									<div class="12u">
										<textarea name="message" placeholder="Message"></textarea>
									</div>
								</div>
								<div class="row">
									<div class="12u">
										<a href="#" class="button submit">Send Message</a>
									</div>
								</div>
							</form> -->

						</div>
					</section>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-69557749-1', 'auto');
  ga('send', 'pageview');

</script>
			
			</div>
