	

		<!-- Main -->
			<div id="main">
			
				<!-- Home -->
					<section id="top" class="one">
						<div class="container">

							<a href="#" class="image featured"><img src="images/telescope.jpg" alt="" /></a>			
							
							<p style="font-size:18px;line-height:150%"; align="left"> Welcome to my personal website. I am a Post-Doctoral Researcher at the <a href="http://www.csh.unibe.ch/index_eng.html">Center for Space and Habitability</a>, <a href="https://www.unibe.ch/index_eng.html">University of Bern</a>, Switzerland. I obtained my interdisciplinary PhD at the <a href="http://www.astro.uva.nl/">API Institute for Astronomy</a>, <a href="http://www.uva.nl/en/home">University of Amsterdam</a> and the <a href="http://www.falw.vu.nl/en/">Department of Earth Sciences</a>, <a href="http://vu.nl/en/index.asp">Vrije University Amsterdam</a>. My current research interests are rocky exoplanetary interiors, geochemical cycles, high-pressure laboratory experiments, and atmosphere-interior exchange.</p>

							<!-- <footer>
								<a href="./KaustubhHakimCV2019Sep.pdf" class="button scrolly">View my Resume</a>
							</footer> -->

						</div>
					</section>
					
					<!-- Research -->
					<section id="portfolio" class="three">
						<div class="container">
					
							<header>
								<h2>Research</h2>
							</header>
							<a href="#" class="image featured"><img src="images/exoplanet-surface.jpg" alt="" /></a>
							<p style="font-size:18px;line-height:150%"; align="left">The extra-solar planets, or <b>exoplanets</b>, are the planets outside our solar system. There are more than 1000 billion exoplanets in our galaxy alone. Some of these exoplanets are solid or "rocky" like our Earth and it is not so strange to think that at least a few of them can harbour alien life! As a scientist, I am interested in investigating the chemical composition of the interior and atmosphere of rocky exoplanets.</p>
							
							<header>
								<h4>Equation of State of Iron for Super-Earth Interiors</h4>
							</header>
							<p style="font-size:18px;line-height:150%"; align="left"> <img src="images/interior_model.jpg" alt="" style="float:left;width:200px;height:200px;padding:10px;">For most rocky exoplanets, physical  parameters revealed by telescopic observations are limited mass and/or radius. If both mass and radius are known for an exoplanet, its bulk composition can be estimate to a first order. To formulate mass-radius relations, interior structure calculations are performed which need accurate material equations of state as input. <a href="http://doi.org/10.1016/j.icarus.2018.05.005">In this paper</a>, in the supplementary information we provide our ab initio equation of state of iron applicable to the interior of super-Earths and giant planets. We also demonstrate various modeling degeneracies involved in the formulation of mass-radius relations. </p>
							<p> <br /><br /><br /> </p>
							
							<header>
								<h4>High-Pressure Laboratory Experiments</h4>
							</header>
							<p style="font-size:18px;line-height:150%"; align="left"> <img src="images/experiment.jpg" alt="" style="float:left;width:200px;height:200px;padding:10px;"> Although planetary interiors are not directly accessible (not even for Earth!) to humans but it is possible to study them with high-pressure high-temperature machines capable for reproducing planetary interior conditions in a laboratory. These experiments are especially vital in studying the rocks and minerals of terrestrial exoplanets which have no Solar System analogs. <a href="http://doi.org/10.1089/ast.2018.1930">Here I investigate</a> the types of rocks and minerals making  up the interior of carbon-rich rocky exoplanets. Of course, diamond is one of the possibilities! <a href="https://doi.org/10.1051/0004-6361/201833942">In another study</a>, I show how difficult it is to stabilize silicon carbide in planetary interiors. </p>
							<p> <br /><br /><br /> </p>
							
							<header>
								<h4>Thermal Evolution of Planetary Interiors</h4>
							</header>
							<p style="font-size:18px;line-height:150%"; align="left"> <img src="images/cover_planet.jpg" alt="" style="float:left;width:200px;height:200px;padding:10px;"> With ever-increasing information on exoplanet properties from observations, it is becoming important to constrain the thermal state of the planetary interior in order to link it extract meaningful surface and atmospheric parameters. Here I demonstrate the application of the classical Rayleigh-Bénard convection to model the thermal evolution of rocky exoplanets with graphite layers. </p>
							<p> <br /><br /><br /> </p>
	
							<header>
								<h4>Atmosphere-Interior Exchange and Geochemical Cycles</h4>
							</header>
							<p style="font-size:18px;line-height:150%"; align="left"> <img src="images/earth.jpg" alt="" style="float:left;width:200px;height:200px;padding:10px;"> The composition of atmospheres of Earth-size  or smaller exoplanets is largely dependent on the interior processes. Moreover, the composition of volatiles in the interior is affected by the atmosphere. The  atmosphere-interior exchange of volatiles on rocky exoplanets can take place via various mechanisms. Geochemical cycles such  as the long-term carbon cycle (silicate-carbonate cycle) enables the exchange of carbon dioxide between the atmosphere and the interior on Earth. I am currently investigating how such a cycle might or might not work on exoplanets. </p>
							<p> <br /><br /><br /> </p>
													
						</div>
					</section>
					
					<!-- About Me -->
					<section id="about" class="two">
						<div class="container">

							<header>
								<h2>About Me</h2>
							</header>

							<a href="#" class="image featured"><img src="images/bern2.jpg" alt="" /></a>
							
						<p style="font-size:18px;line-height:150%"; align="left">I currently live in the wonderful city of <b>Bern</b> in Switzerland. Previously, I obtained my master's degree in Astrophysics from <a href="http://www.kuleuven.be/english">KU Leuven</a>, Belgium and my bachelor's degree in Electronics Engineering from <a href="http://iitkgp.ac.in/">IIT Kharagpur</a>, India. I have also lived in Mumbai for a couple of years working for an investment bank, <a href="http://www.nomura.com/">Nomura</a>.</p>	
				

						</div>
					</section>

				
			
				<!-- Contact -->
					<section id="contact" class="four">
						<div class="container">

							<header>
								<h2 align="center">Contact</h2>
							</header> 
								<!-- <a href="#" class="image featured"><img src="images/notebook.jpg" alt="" /></a> -->
							<table id="social" style="margin: 0px auto; width: 300px;" >
								<tbody><tr align="center" >
								<td> <a href="mailto:hakim.kaustubh@gmail.com"> <img src="images/gmail.jpg"> </a></td>
								<td> <a href="https://twitter.com/exokaustubh"> <img src="images/twitter.jpg"> </a></td>
								<td> <a href="https://github.com/kaustubhhakim"> <img src="images/github.jpg"> </a></td>
								<td> <a href="https://in.linkedin.com/pub/kaustubh-hakim/46/936/669"> <img src="images/linkedin.jpg"> </a></td>
								</tr></tbody>
							</table>	
							<!--  <p>You can reach me at <br />
							
				<a href="mailto:hakim.kaustubh@gmail.com">Gmail</a><br />
				<a href="https://twitter.com/hbutsuak"> Twitter</a> <br />
				<a href="https://github.com/kaustubhhakim">Github</a> <br />
				<a href="https://in.linkedin.com/pub/kaustubh-hakim/46/936/669">Linkedin</a> <br /> 
							</p> -->
							<!--
							<form method="post" action="#">
								<div class="row half">
									<div class="6u"><input type="text" class="text" name="name" placeholder="Name" /></div>
									<div class="6u"><input type="text" class="text" name="email" placeholder="Email" /></div>
								</div>
								<div class="row half">
									<div class="12u">
										<textarea name="message" placeholder="Message"></textarea>
									</div>
								</div>
								<div class="row">
									<div class="12u">
										<a href="#" class="button submit">Send Message</a>
									</div>
								</div>
							</form> -->

						</div>
					</section>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-69557749-1', 'auto');
  ga('send', 'pageview');

</script>
			
			</div>
