	<!-- Header -->
			<div id="header" class="skel-panels-fixed">

				<div class="top">

					<!-- Logo -->
						<div id="imag">
							<span class="image profile40"><img src="images/profile.jpg" alt="" /></span>
						</div>
						<div id="logo">
							
							<h1 id="title">Kaustubh Hakim</h1>
							<span class="byline">Astrophysicist</span>
							<span class="byline">Experimental exo-geophysicist</span>
						</div>
						 
					<!-- Nav -->
						<nav id="nav">
							<ul>
							<!-- the init.js now parses for "#nav c", which makes the links scrollify links. AKA only accepts #stuff links. -->
								<li><c href="#top" id="top-link" class="skel-panels-ignoreHref"><span class="fa fa-home">Home</span></c></li>
								<li><c href="#portfolio" id="portfolio-link" class="skel-panels-ignoreHref"><span class="fa fa-th">Research</span></c></li>
								<li><c href="#about" id="about-link" class="skel-panels-ignoreHref"><span class="fa fa-user">About Me</span></c></li>
							<!--<li><c href="#contact" id="contact-link" class="skel-panels-ignoreHref"><span class="fa fa-envelope">Contact</span></c></li>-->
								<!-- these remain normal links now because of above -->
								<!-- <li><a href="/blog" class="skel-panels-ignore"><span class="fa fa-terminal">Blog </span></a></li> -->
								<li><a href="/KaustubhHakimCV2016Sep5.pdf" target="_blank" class="skel-panels-ignore"><span class="fa fa-suitcase">CV </span></a></li>
								<!--<li><a href="http://costisadreamer.blogspot.com" target="_blank" class="skel-panels-ignore"><span class="fa fa-terminal">Blog</span></a></li> -->
							</ul>
						</nav>
						
				</div>
				
				<div class="bottom">

					<!-- Social Icons -->
						<ul class="icons">
							<li><a href="http://twitter.com/hbutsuak" class="fa fa-twitter solo"><span>Twitter</span></a></li>
							<li><a href="http://github.com/kaustubhhakim" class="fa fa-github solo"><span>Github</span></a></li>
							<!-- <li><a href="#" class="fa fa-facebook solo"><span>Facebook</span></a></li>
							
							<li><a href="#" class="fa fa-dribbble solo"><span>Dribbble</span></a></li> -->
							<li><a href="mailto:hakim.kaustubh@gmail.com" class="fa fa-envelope solo"><span>Gmail</span></a></li>
							
							<li><a href="https://in.linkedin.com/pub/kaustubh-hakim/46/936/669" class="fa fa-linkedin-square"><span></span></a></li>
						</ul>
				
				</div>
			
			</div>
